<!DOCTYPE html>

<html lang="en">

<head>
  <title>LotR Campaign</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body class="layout">
  <header class="header">
    <h1 class="header__title"><a href="/">
        Over Hill And Under Hill
      </a></h1>
    <nav class="header__nav">
      <a class="header__navlink" href="#">resources</a>
      <a class="header__navlink" href="#">adventures</a>
      <a class="header__navlink" href="#">characters</a>
    </nav>
  </header>

  <main class="main">
    <div class="main__content">
      {% block content %} {% endblock %}
    </div>
  </main>

  <link
    href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
</body>

</html>
