{% extends "base.html" %}

{% block content %}
<section class="section">
  <h3 class="section__header">Adventuring in Eriador</h3>
  <p class="section__paragraph">
    Welcome, adventurers, to Eriador, a land of ancient
    forests, rolling hills, bitter cold, and ruins of a
    civilization lost to memory. The Free Peoples are weak
    and scattered here, for the Lone Lands are not a
    welcoming place. But things are looking up lately.
  </p>
  <p class="section__paragraph">
    It is the year 2965 of the Third Age. Twenty years ago,
    a party of dwarves led by Thorin Oakenshield reclaimed
    the dwarf-hold of Erabor, with help from a wizard and a
    curious little creature called a hobbit. Once more
    wealth flows from the mountain, enriching all the Free
    Peoples of Middle Earth. The Great East road carries
    travelers once more, bound between the dwarf holds of
    the Blue Mountains and Erebor. Elves and dwarves have
    cleared out the orc strongholds which once dominated the
    High Pass through the Misty Mountains, freeing
    Wilderland from the terror of the orcs' frequent raids.
  </p>
  <p class="section__paragraph">
    But all is not well. The Wise whisper of a new Shadow in
    the South. It may not leave the North alone for long.
    For the grip of the Shadow is long. You may soon find
    yourselves in deeper than you can imagine. Safe travels,
    adventurers.
  </p>

  <img alt="section divider" src="img/swish1.svg" class="section__divider" />
</section>

<section class="section">
  <h3 class="section__header">The Story So Far&hellip;</h3>
  <p class="section__paragraph">
    From the far-flung corners of Eriador and over the Edge
    of the Wild, you all have felt the pull of the West.
    Striking westwards across the Great East Road from three
    different places for three different reasons, each of
    you has chosen the same time to stop in Bree and spend
    the night at the Prancing Pony inn. In the morning, you
    step back onto the road, going westwards,
    together&hellip;
  </p>
</section>
{% endblock content %}
